@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Login";
}

@section Styles{
    <link href="~/Content/Index.css" rel="stylesheet" />
}

<div class="col-md-6">
    <h2 class="h2">Sistema de Inscripción a Materias</h2>
    <form action="@Url.Action("Login","Home")" method="post">
        <div class="btn-group btn-group-toggle form-control" id="Tipo_de_Usuario" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="Tipo_de_Usuario" class="oculto" value="Alumno" autocomplete="off" checked> Estudiante
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="Tipo_de_Usuario" class="oculto" value="Admin" autocomplete="off"> Admin
            </label>
        </div>
        <div class="input-group row">
            <div class="input-group col form-control sinBorde">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                        <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                        <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                </span>
                <input type="text" name="IND" class="form-control" placeholder="DNI" id="Dni" pattern="\d{8}" required>
            </div>
            <div class="input-group col form-control sinBorde">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
                        <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                    </svg>
                </span>
                <input type="password" name="Password" class="form-control" placeholder="Contraseña" id="Contraseña" pattern="([A-Za-z0-9]){6}" title="La Contraseña consta de 6 caracteres alfanuméricos" required />
            </div>
            <div class="input-group col form-control sinBorde" id="DivLegajo">
                <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                        <path d="M.54 3.87L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z" />
                    </svg>
                </span>
                <input type="text" name="Docket" class="form-control" placeholder="Legajo" id="Legajo" pattern="\d{4}" required />
            </div>
        </div>
        <div class="btn form-control">
            <input type="submit" class="btn btn-success" id="Submit" value="Iniciar Sesión"/>
        </div>
    </form>
    <div id="Error">
        <h6>
            @Html.Raw(ViewBag.Error)
        </h6>
    </div>
    <div class="alert alert-dismissible fade show oculto" role="alert" id="info">
        <strong>¡Atención!</strong> Recuerda ingresar los <span></span> dígitos sin puntos
    </div>

</div>

@section Scripts{
    <script src="~/Scripts/Index.js"></script>
}