/*NAVBAR*/
nav {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div.container-fluid {
    background-color: #3B61B5 !important;
}

/*Pestañas*/
h3 {
    color:#fff;
}

h3, h5 {
    margin-bottom:0px !important;
}

ul {
    font-weight: 450;
    font-size: 1.40rem;
}

ul, a {
    border-bottom: none !important;
}

.nav-link {
    opacity: .8;
    color: #fff !important;
    background-color: #10274D !important;
}

    .nav-link.active {
        color: #10274D !important;
        background-color: #fff !important;
        border-color: #D0F2F7 #D0F2F7 #fff !important;
        border-top-width: 0.1rem !important;
        border-right-width: 0.1rem !important;
        border-left-width: 0.1rem !important;
        opacity: 1 !important;
    }

    .nav-link:hover {
        border-color: #D0F2F7 #D0F2F7 #fff !important;
        border-top-width: 0.1rem !important;
        border-right-width: 0.1rem !important;
        border-left-width: 0.1rem !important;
    }

/*Dropdown*/
#navOpciones > li > a, .dropdown-menu {
    font-size: 1rem;
    color: #fff !important;
    background-color: #3B61B5 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

#navbarDropdown {
    background-color: transparent !important;
}

#Dropdown{
    margin-bottom:0px!important;
}

    #Dropdown > li > a {
        padding-left:0px!important;
        padding-right:0px!important;
    }

    #Dropdown > li > ul {
        border-top: 0px !important;
        margin-top: 0px !important;
    }

    #Dropdown > li > div {
        border: 3px solid #fff;
        border-radius: 1rem;
    }

/*TABLA*/
table {
    text-align: center;
}

td, th {
    word-break: break-word;
}

/*Íconos para Agregar, Editar o Eliminar*/
.Agregar{
    color: green;
}

.Editar, .EditarDocentes, .azul {
    color: #3B61B5;
}

.verde {
    color: #198754;
}

.Eliminar, .EliminarDocentes, #Modal_Eliminar .modal-title {
    color:red;
}

.Editar, .EditarDocentes, .Eliminar, .EliminarDocentes {
    padding-left: 1vw;
    padding-right: 1vw;
}

table svg {
    background-color: #fff;
}

/*MODALS*/
span>svg:hover{
    cursor:pointer;
}

#Modal_Materias, #Modal_Docentes, #Modal_Eliminar {
    background-color: rgba(33,37,41,0.4);
}

#Materia_Cupo, #Docente_DNI_Estado{
    margin-left:0px !important;
    margin-right:0px !important;
}

    #Materia_Cupo > div:first-child, #Docente_DNI_Estado > div:first-child {
        padding-left: 0px !important;
    }

    #Materia_Cupo > div:nth-child(2), #Docente_DNI_Estado > div:nth-child(2) {
        padding-right: 0px !important;
    }

/*Responsive*/

@media screen and (max-width: 650px) {
    h3.ocultable {
        display: none !important;
    }
}

@media screen and (max-width: 450px) {
    span.ocultable {
        display: none !important;
    }
}    