div.container-fluid {
    background-color: #3B61B5 !important;
}

nav{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

h3, h5 {
    color:#fff;
    margin-bottom:0px !important;
}

.nav-link {
    opacity: .8;
    color: #fff !important;
    background-color: #10274D !important;
}

    .nav-link.active {
        color: #10274D !important;
        background-color: #fff !important;
        border-color: #D0F2F7 #D0F2F7 #fff !important;
        border-top-width: 0.1rem !important;
        border-right-width: 0.1rem !important;
        border-left-width: 0.1rem !important;
        opacity: 1 !important;
    }
    .nav-link:hover {
        border-color: #D0F2F7 #D0F2F7 #fff !important;
        border-top-width: 0.1rem !important;
        border-right-width: 0.1rem !important;
        border-left-width: 0.1rem !important;
    }

ul, a {
    border-bottom:none!important;
}

ul {
    font-weight: 450;
    font-size: 1.40rem;
}

#navOpciones > li > a, .dropdown-menu {
    font-size: 1rem;
    color: #fff !important;
    background-color: #3B61B5 !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

#navbarDropdown {
    background-color: transparent !important;
}

#Dropdown{
    margin-bottom:0px!important;
}

    #Dropdown > li > a {
        padding-left:0px!important;
        padding-right:0px!important;
    }

    #Dropdown > li > ul {
        border-top: 0px !important;
        margin-top: 0px !important;
    }

    #Dropdown > li > div {
        border: 3px solid #fff;
        border-radius: 1rem;
    }



/*Estilo del Botón Submit*/
/*
#home > button.btn.btn-success {
    margin: auto !important;
    background-color: #6281C4 !important;
    border-color: #6281C4 !important;
}

    #home > button.btn.btn-success:hover {
        background-color: #10274D !important;
        border-color: #10274D !important;
    }

    #home > button.btn.btn-success:focus {
        box-shadow: 0 0 0 0.25rem rgba(16,39,67,.5) !important;
    }  
    */

#Agregar {
    color: green;
}

.Editar, .azul {
    color: #3B61B5;
}

.verde {
    color: #198754;
}



.Eliminar {
    color:red;
}

table {
    text-align:center;
}

span:hover, #Agregar {
    cursor:pointer;
}

#Modal_Uno {
    background-color: rgba(33,37,41,0.4);
}

#Docente_Cupo {
    margin-left:0px !important;
    margin-right:0px !important;
}

    #Docente_Cupo > div:first-child {
        padding-left:0px!important;
    }

    #Docente_Cupo > div:nth-child(2) {
        padding-right:0px !important;
    }

@media screen and (max-width: 650px) {
    h3.ocultable {
        display: none !important;
    }
}

@media screen and (max-width: 450px) {
    span.ocultable {
        display: none !important;
    }
}